_assets/* linguist-detectable=false
_css/* linguist-detectable=false
_layout* linguist-detectable=false
_libs/* linguist-detectable=false
_rss/* linguist-detectable=false
img/* linguist-detectable=false
